<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app_status.name %>
</p>

<%= link_to 'Edit', edit_app_status_path(@app_status) %> |
<%= link_to 'Back', app_statuses_path %>
<%= link_to 'New App status', new_app_status_path %>
