<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Buyshow</th>
      <th>Is conver</th>
      <th>Ablum</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
              <td>  <%= image_tag photo.avatar.url  , size: "100x80" %></td>

        <td><%= photo.buyShow %></td>
        <td><%= photo.is_conver %></td>
        <td><%= photo.ablum %></td>
        <td><%= photo.status %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
